@use '../../../styles/mixins.scss';
@use '../../../styles/root.scss';

#custom-dropdown {
    width: auto;
    height: auto;
  }
  
  .dropdown-options {
    outline: 3px solid black;
    margin-top: 2px;
    padding: 0;
    list-style: none;
    width: 60px;
    height: auto;
    overflow: hidden;
  
    li {
      list-style: none;
      background-color: pink;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      @include mixins.outset-border();
      outline: 0;
      transition: background-color 0.3s ease;
  
      img {
        width: 40px;
        height: 40px;
      }
    }
  
    li:hover {
      background-color: #8B8B8B;
    }
  }
  
  .dropdown-selected {
    image-rendering: pixelated;
    display: flex;
    align-items: center;
    @include mixins.outset-border;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    gap: 10px;
  
    img {
      width: 40px;
      height: 40px;
    }
  
    p {
      font-family: pixel-font;
      font-size: 17px;
      margin: 5px;
      margin-right: 8px;
      transform: rotate(90deg);
    }
  }
  
  .rotated p {
    transform: rotate(270deg);
  }
  
  .dropdown-selected:hover {
    background-color: #8B8B8B;
  }
  
  .dropdown-option {
    width: 40px;
    height: 40px;
    image-rendering: pixelated;
  }