@use '../styles/mixins.scss';

hero {
    // background-color: pink;
    margin: 15px;
    position: absolute;
    top: 0;

    h2 {
    @include mixins.heading-text();
    }

    p {
    @include mixins.body-text();
    color: #ADADAD;
    }
}

#pig-wrapper {
    position: absolute;
    bottom: 0;
    left: 500px;
    display: flex;
    justify-items: center;
    
    #pig-body {
        width: 120px;
        height: 180px;
    }
    
    #pig-head {
        width: 100px;
        height: 100px;
        image-rendering: pixelated;
        position: relative;
        bottom: 30px;
        right: 50%;
    }
}

