@use '../styles/mixins.scss';
@use '../styles/root.scss';

hero {
    // background-color: pink;
    margin: 15px;
    position: absolute;
    top: 0;

    h2 {
    @include mixins.heading-text();
    }

    p {
    @include mixins.body-text();
    color: #ADADAD;
    }
}

#pig-wrapper {
    position: absolute;
    bottom: 0px;
    left: 500px;
    display: flex;
    justify-items: center;
    
    #pig-body {
        width: (400px / 2.5);
        height: (680px / 2.5);
    }
    
    #pig-head {
        width: 88px;
        height: 88px;
        image-rendering: pixelated;
        position: relative;
        bottom: 0px;
        right: 45.2%;
    }
}

#username-window {
    position: absolute;
    width: auto;
    height: auto;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mixins.outset-border;
    display: flex;
    flex-direction: column;

    p {
        @include mixins.body-text;
        margin-bottom: 10px;
    }
    
    input {
        @include mixins.inset-border;
        @include mixins.body-text;
        width: auto;
        padding: 5px;
        margin-bottom: 10px;
        outline: 0;
    }

    div {
        @include mixins.body-text;
        color: root.$material-redstone;
        margin-bottom: 10px;
    }

    button {
        @include mixins.outset-border;
        @include mixins.body-text;
        outline: 0;
        padding: 5px;
    }

    button:hover {
        background-color: #8B8B8B;
    }
}