@use '../../../styles/mixins.scss';

li {
    list-style: none;
    @include mixins.outset-border();
    @include mixins.body-text();
    display: flex;
    align-items: center;
    padding: 10px;
    outline: 0;
    // margin: 10px;
    padding-left: 15px;
}

ul {
    overflow-y: scroll;
}