#torch {
    width: auto;
    height: auto;
    position: fixed;
    bottom: 50%;
    left: 0.6%;
    transform: rotate(30deg);
    
    #torch-lit {
      width: auto;
      height: 130px;
      image-rendering: pixelated;
    }
  
    #torch-unlit {
      width: auto;
      height: 130px;
      image-rendering: pixelated;
    }
  }

#torch-glow {
    width: 140px;
    height: 140px;
    background-color: #F9C966;
    opacity: 55%;
    position: fixed;
    bottom: 57%;
    left: -1%;
    z-index: 1;
    filter: blur(65px);
    // border-radius: 50%;
}