@use './styles/mixins.scss';
@use './home/home.scss';
@use './home/components/sign/sign.scss';
@use './styles/root.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: pixel-font;
  src: url(../public/typography/minecraft_standard/MinecraftStandard.otf);
  font-weight: normal;
}

@font-face {
  font-family: pixel-font;
  src: url(../public/typography/minecraft_standard/MinecraftStandardBold.otf);
  font-weight: bold;
}

body {
  background-image: url(../public/images/backgrounds/forest_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

main {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: 
  'top-left top-right'
  'middle-left middle-right'
  'bottom-left bottom-right';
  gap: 25px;
}

#dropdown-searchbox-wrapper {
  grid-area: middle-left;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}


/////////////////////////////////////////
///////////////// Rose //////////////////
/////////////////////////////////////////

#rose-bush {
  width: auto;
  height: auto;
  position: fixed;
  bottom: -1%;
  left: 1%;

  img {
    width: 200px;
    image-rendering: pixelated;
  }
}


#portrait {
  position: absolute;
  top: 50px;
  left: 15px;
  display: flex;
  gap: 10px;

  #portrait-images-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60px;
    height: 60px;
  }
  
  #item-frame {
    width: 52px;
    height: 52px;
    image-rendering: pixelated;
  }
  
  #portrait-head {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 11px;
    left: 11px;
    image-rendering: pixelated;
    box-shadow: 2px 2px black;
  }
  
  p {
    @include mixins.body-text;
    color: white;
    background-color: rgba(13, 13, 13, 0.4);
    height: fit-content;
    font-size: 10px;
  }

  span {
    color: root.$yellow;
    text-decoration: underline;
  }

  span:hover {
    color: root.$material-redstone;
  }
}

#username-window {
  position: absolute;
  width: auto;
  height: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mixins.outset-border;
  display: flex;
  flex-direction: column;

  p {
      @include mixins.body-text;
      margin-bottom: 10px;
  }
  
  input {
      @include mixins.inset-border;
      @include mixins.body-text;
      width: auto;
      padding: 5px;
      margin-bottom: 10px;
      outline: 0;
  }

  div {
      @include mixins.body-text;
      color: root.$material-redstone;
      margin-bottom: 10px;
  }

  button {
      @include mixins.outset-border;
      @include mixins.body-text;
      outline: 0;
      padding: 5px;
  }

  button:hover {
      background-color: #8B8B8B;
  }
}






@media (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    overflow-y: scroll;
    // padding: 25px;
    height: auto;
    background-repeat: repeat;
  }

  #dropdown-searchbox-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  #minecraft-panel-two {
    min-height: 450px;
  }

  #chest {
    display: none;
  }

  #rose-bush {
    display: none;
  }

  #lantern {
    display: none;
  }

  #torch {
    display: none;
  }

  #lantern-glow {
    display: none;
  }

  #torch-glow {
    display: none;
  }

  hero {
    max-width: 250px;

    p {
      display: none;
    }
  }
}