@use './styles/mixins.scss';
@use './styles/root.scss';
@use './components/sign/sign.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: pixel-font;
  src: url(../public/typography/minecraft_standard/MinecraftStandard.otf);
  font-weight: normal;
}

@font-face {
  font-family: pixel-font;
  src: url(../public/typography/minecraft_standard/MinecraftStandardBold.otf);
  font-weight: bold;
}

body {
  background-image: url(../public/images/backgrounds/forest_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

main {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: 
  'top-left top-right'
  'middle-left middle-right'
  'bottom-left bottom-right';
  gap: 25px;
}

#dropdown-searchbox-wrapper {
  grid-area: middle-left;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}


/////////////////////////////////////////
///////////////// Rose //////////////////
/////////////////////////////////////////

#rose-bush {
  width: auto;
  height: auto;
  position: fixed;
  bottom: -1%;
  left: 1%;
  z-index: -1;

  img {
    width: 200px;
    image-rendering: pixelated;
  }
}

#lilac-flower {
  width: auto;
  height: auto;
  position: fixed;
  bottom: -1%;
  right: -2%;
  z-index: -1;

  img {
    width: 200px;
    image-rendering: pixelated;
  }
}






@media (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    overflow-y: scroll;
    height: auto;
    background-repeat: repeat;
  }

  #dropdown-searchbox-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  #minecraft-panel-two {
    min-height: 450px;
  }

  #chest {
    display: none;
  }

  #rose-bush {
    display: none;
  }

  #lantern {
    display: none;
  }

  #torch {
    display: none;
  }

  #lantern-glow {
    display: none;
  }

  #torch-glow {
    display: none;
  }

  #portrait {
    display: none;

    img {
      display: none;
    }
  }

  header {
    h2 {
      margin-left: 8px;
    }
  }

  #lilac-flower {
    display: none;

  }

  hero {
    max-width: 250px;

    p {
      display: none;
    }
  }
}